<h1> Welcome to the {{room.name}}</h1>
<h2>This room was created by {{owner.fullName}}</h2>
<img src="{{room.imageUrl}}">
<p>{{room.description}}</p>

{{#if room.reviews}}

<h2>Reviews</h2>

<ul>
    {{#each room.reviews }}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{/if}}

{{#if isLoggedIn}}
{{#unless isCurrentUserOwner}}
<form id="form">
    <label for=" reviews">
        Leave a comment
    </label>
    <textarea rows="5" cols="45" type="text" name="reviews"> </textarea>
</form>
{{/unless}}
{{/if}}

{{#if isCurrentUserOwner}}
<a href="/rooms/update/{{room._id}}"> Edit room</a>
<a href="/rooms/delete/{{room._id}}"> Delete room</a>
{{/if}}